name: Java CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: '17'

    - name: Build (skip tests)
      run: mvn -B clean package -DskipTests

    - name: Run tests (with H2)
      run: mvn -B test -Dspring.profiles.active=test
